<table class="table">
  <tr class="ligne" *ngFor="let block of blocks, let y = index">
    <th class="colonne"
    *ngFor="let case of block, let x = index"
    [style.backgroundColor]=" Painter(case)"
    (mouseenter)="onMouseEnter(x,y)"
    (mouseout)="onMouseOut(x,y)"
    (click)="onMouseClick(x,y)"
    #hoverName
    [class.test]="changeCSSClass(x,y)"
    [class.firstMove]="IsFirstMove(x,y)"
    >
  </th>
  </tr>
</table>
<div>
  <p class="player1">Player 1 score : {{this.numberOfBlocks().player1}}</p>
  <p *ngIf="placementError" class="error">{{placementError}}</p>
  <p class="player2">Player 2 score : {{this.numberOfBlocks().player2}}</p>
</div>
