td, th {
  border: 1px solid #585858;
  text-align: left;
  padding: 8px;
  height: 18px;
  width: 18px;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
